/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
section {
  position: relative;
}

section::before {
  content: "";
  background-image: url("../../../assets/Images/burger-signup.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.contacts > .text-success{
  margin: auto;
  text-align: center;
}
/* Content styling (set content opacity to 1) */
section .container {
  padding: 20px;
}


.contact .info {
  width: 100%;
}

.contact .info i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  background: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #e6e2da;
}

.contact .info .open-hours,
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: darkgoldenrod;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.name,h4{
  color: #1ab394 !important;
}
.photo{
  border: 6px solid #1ab394;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #1ab394;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #1ab394;
  border-top-color: #1a1814;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  /* background: darkgoldenrod; */
  border-color: #625b4b;
  color: white;
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: #fff;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: #fff;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #cda45e;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}


.info-img{
  display: flex;
justify-content: center;}
i{
  color: white;
}

    /* 1- title */
    .title{
      margin-top: 45px;
        color: #d3af71;
        font-size: 2.2em;
        font-weight: 800;
        display: flex;
        justify-content: center;
    }
    /* end title */
    /* 2- contnet */
    .content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* end content */
    /* 3- card */
    .card{
        background-color: #fff;
        width: 21.25em;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.7s ease;
    }
    .card:hover{
        transform: scale(1.1);
    }
    .icon{
        color: #d3af71;
        font-size: 6em;
        text-align: left;
    }
    .icon i{
      color: #d3af71
    }
    .info{
        text-align: left;
    }
    .info h3{
        color: #d3af71;
        font-size: 2em;
        font-weight: 700;
    }
