  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-3 col-md-6 ">
            <div class="footer-info ">
              <h4>Restaurantmäßig</h4>
              <p>
                johann-wilhelm-klein-straße 72 <br>
                4040, Linz<br><br>
                <strong>Telefon:</strong> +43665 67009283<br>
                <strong>Email:</strong> mustafahazem018@gmail.com<br>
              </p>
              <div class="social-links mb-3">
                <a href="https://www.facebook.com/mmhazem99/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/hhazem99/" target="_blank" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/haziim99" target="_blank" class="github"><i class="fa-brands fa-github"></i></a>
              </div>
            </div>
          </div>
          <!-- Links -->
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nützliche Links</h4>
            <ul >
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Über uns</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Dienstleistungen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Nutzungsbedingungen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Datenschutzrichtlinie</a></li>
            </ul>
          </div>
          <!-- Services -->
          <div class="col-lg-3 col-md-6 footer-links text-center">
            <h4>Unsere Dienstleistungen</h4>
            <ul class="text-center">
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web-Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Entwicklung</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Webentwicklung</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Grafikdesign</a></li>
            </ul>
          </div>
          <!-- Newsletter -->
          <div class="col-lg-3 col-md-6 footer-newsletter ">
            <h4>Unser Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post" class="form">
              <div class="form-group mx-sm-3 mb-2">
                <input type="email" name="email" class="form-control input w-100" placeholder="Enter your email">
                <button type="submit" class="btn btn-warning w-100" style="border-radius: 0;">Abonnieren</button>
              </div>
            </form>



          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Urheberrechte © <strong><span>Hazem Restaurant</span></strong>. Alle Rechte vorbehalten
      </div>
      <div class="credits">
        Entwickelt von   <a href="https://bootstrapmade.com/">Hazem Mostafa</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
