@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/roboto-medium-italic.ttf") format("truetype");
}
nav {
  font-family: "Roboto", sans-serif;
}
.full-width {
  width: 100%;
}

img {
  height: 50px;
  width: 50px;
}

a{
  cursor: pointer;
}

.sign-out button, hr{
  color:#ffc107 !important
}
.sign-out button:hover{
  color:black !important
}
.dropdown-item:hover{
  color:black !important
}
.hide-hero {
  height: 0;
  overflow: hidden;
  display: none;
}
.nav-item{
    margin-inline-start: 10px;
    /* width: 19vw; */
  }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  width: 100%;
}

.navbar-brand {
  margin: 0 auto;
}

.dropdown-center {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  min-width: 100%;
  text-align: left;
}

/*header section*/
.hero_area {
width: 100%;
}

.dropdown-menu{
  border:  none !important;
}
.sub_page .hero_area {
  min-height: auto;
}

.sub_page .hero_area .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub_page .hero_area .bg-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right top;
  object-position: right top;
}

li.nav-item.breadcrumb-item{
  display: flex;
}
.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 32px;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  padding-left: 18%;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #d3af71;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
}

.custom_nav-container .nav_search-btn {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  margin: 0 10px;
}

.custom_nav-container .nav_search-btn:hover {
  color: #d3af71;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  cursor: pointer;
}

.user_option a {
  margin: 0 10px;
}

.user_option .user_link:hover {
  color: #d3af71;
}

.user_option .cart_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.user_option .cart_link svg {
  width: 17px;
  height: auto;
  fill: #ffffff;
  margin-bottom: 2px;
}

.user_option .cart_link:hover svg {
  fill: #d3af71;
}

.user_option .order_online {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ffbe33;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.user_option .order_online:hover {
  background-color: #d3af71;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

/*end header section*/
