<div
  #modal
  class="modal fade"
  id="modalID"
  data-backdrop="static"
  data-keyboard="false"
  [attr.aria-labelledby]="modal_name + 'Label'"
  aria-hidden="true"
  role="dialog"
>
  <div #popupElement>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="modal-title btn btn-outline-success w-50"
          [id]="modal_name + 'Label'"
          [class.btn-outline-success]="!showLogin"
          [class.btn-success]="showLogin"
          (click)="showLogin = true; showSignUp = false">
          Anmeldung
          </button>

          <button type="button" class="modal-title btn btn-outline-success mx-1 w-50"
            id="{{ modal_name + 'Label' }}" [class.btn-outline-success]="!showSignUp"
            [class.btn-success]="showSignUp"
            (click)="showLogin = false; showSignUp = true">
            Melden Sie sich an
          </button>
          <button
            #close_btn
            type="button"
            class="btn-close btn-close-white btn-toggle-modal"
            aria-label="Close"
            (click)="close_modal($event)"
            data-dismiss="modal"
            [attr.data-toggle]="'#' + modal_name"
          ></button>
        </div>
        <div class="modal-body" style="max-height: 650px; overflow: hidden">
          <!-- Start Login -->
          <section *ngIf="showLogin">
            <div class="container-fluid">
                <form action="" (ngSubmit)="onSubmit()" [formGroup]="jobForm" method="post" role="form" class="php-email-form bg-transparent">
                  <div class="row">
                    <!-- Email input -->
                    <div class="mt-3 mt-md-0 ">
                      <div class="d-block text-warning">
                        <label for="mail">
                          <i class="fa-solid fa-envelope text-warning"></i>
                          E-mail
                        </label>
                      </div>
                        <input formControlName="email" matInput id="mail" type="email" class=" bg-transparent text-white" name="email" id="email" >
                    </div>
                    <!-- password input -->
                    <div class="d-block mt-3 mb-3">
                      <label for="pw" class="text-warning"><i class="fa-solid fa-lock text-warning"></i>
                        Passwort</label>
                        <div class="d-block">
                          <input id="pw"
                            matInput
                            class="text-white mt-1 bg-transparent"
                            [type]="loginHide ? 'password' : 'text'"
                            formControlName="password"
                            />
                            <button
                            type="button"
                            class="eye"
                            mat-icon-button
                            matSuffix
                            [type]="loginHide ? 'password' : 'text'"
                            (click)="loginHide = !loginHide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="loginHide"
                          >
                            <i
                              class="fas fa-eye{{ loginHide ? '-slash' : '' }} text-warning"
                            ></i>
                            </button>
                        </div>
                    </div>
                  </div>  <!-- end row -->

                  <!-- Checkbox -->
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="form-check text-warning d-flex justify-content-between w-100">
                      <label class="form-check-label align-items-center" for="form2Example3">
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          id="form2Example3"
                        />
                        Erinnere dich an mich
                      </label>
                      <a class="text-warning link ">Passwort vergessen?</a>
                    </div>
                  </div>
                  <div class="text-center text-lg-start pt-2 mb-5">
                    <button
                      class="btn btn-outline-warning w-100 mb-2"
                      style="padding-left: 2.5rem; padding-right: 2.5rem"
                      [disabled]="!jobForm.invalid"
                      (click)="login()">Anmeldung</button>

                    <h4 class="text-white pt-1 mt-3">
                      Sie haben noch kein Konto?
                      <a  (click)="showLogin = false; showSignUp = true" class="link link-warning"> Registrieren </a>
                    </h4>
                  </div>
                  <h4 class="login-with d-flex justify-content-center align-items-center">
                    Oder melden Sie sich an mit
                  </h4>
                </form>
                <div
                  class="d-flex flex-row align-items-center justify-content-center">
                  <span class="circle-icon">
                    <i class="fab fa-facebook-f text-white"></i>
                  </span>

                  <span class="circle-icon mx-3">
                    <i class="fab fa-twitter text-white"></i>
                  </span>

                  <span class="circle-icon">
                    <i class="fa-brands fa-linkedin-in text-white"></i>
                  </span>
                </div>
            </div>
          </section>
          <!-- End Login -->

          <!-- Start Registration -->
          <!-- <app-register *ngIf="showSignUp"></app-register> -->
          <section class="container-fluid pt-4 mb-3" *ngIf="showSignUp">
            <div class="row h-custom d-flex justify-content-center align-items-center h-100">
              <div class="col-lg-12 col-xl-12 mb-3">
                <div class="row justify-content-between mb-3 text-warning">
                  <form class="form theme-form register-form" [formGroup]="registrationForm">
                          <!-- name -->
                            <div class="">
                              <div class="d-block text-warning">
                                <label>
                                  <i class="fa-solid fa-user text-warning"></i>
                                  Nutzername
                                </label>
                              </div>
                                <input formControlName="name" matInput id="text" type="text" class=" bg-transparent text-white mb-2">
                                <mat-error *ngIf="registrationForm.get('name')!.hasError('required')">
                                  Name ist erforderlich
                                </mat-error>
                            </div>

                          <!-- Email input -->
                          <div class="mt-3 mt-md-0 ">
                            <div class="d-block text-warning">
                              <label for="mail">
                                <i class="fa-solid fa-envelope text-warning"></i>
                                E-mail
                              </label>
                            </div>
                              <input formControlName="email" matInput id="mail" type="email" class=" bg-transparent text-white mb-2" name="email" id="email" >
                              <mat-error *ngIf="registrationForm.get('email')!.hasError('required')">
                                E-Mail ist erforderlich
                              </mat-error>
                          </div>

                          <div class="pw-conf d-flex">
                            <!-- Password  -->
                            <div class="d-block mt-3 mb-3">
                              <label for="pw" class="text-warning"><i class="fa-solid fa-lock text-warning"></i>
                                Passwort</label>
                                <div class="d-block">
                                  <input id="pw"
                                    matInput
                                    class="text-white mt-1 bg-transparent"
                                    [type]="signHidePw ? 'password' : 'text'"
                                    formControlName="password"
                                    />
                                    <button
                                    type="button"
                                    class="eye"
                                    mat-icon-button
                                    matSuffix
                                    [type]="signHidePw ? 'password' : 'text'"
                                    (click)="signHidePw = !signHidePw"
                                    [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="signHidePw"
                                  >
                                    <i
                                      class="fas fa-eye{{ signHidePw ? '-slash' : '' }} text-warning"
                                    ></i>
                                    </button>
                                    <mat-error *ngIf="registrationForm.get('password')!.hasError('required')">
                                      &#9830; Passwort wird benötigt
                                    </mat-error>
                                </div>
                            </div>
                            <!-- Confirm password -->
                            <div class="d-block mt-3 mb-3">
                              <label for="pw" class="text-warning"><i class="fa-solid fa-lock text-warning"></i>
                                Bestätige das Passwort</label>
                                <div class="d-block">
                                  <input id="pw"
                                    matInput
                                    class="text-white mt-1 bg-transparent"
                                    [type]="signHideConf ? 'password' : 'text'"
                                    formControlName="passwordConfirm"
                                    />
                                    <button
                                    type="button"
                                    class="eye"
                                    mat-icon-button
                                    matSuffix
                                    [type]="signHideConf ? 'password' : 'text'"
                                    (click)="signHideConf = !signHideConf"
                                    [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="signHideConf"
                                  >
                                    <i
                                      class="fas fa-eye{{ signHideConf ? '-slash' : '' }} text-warning"
                                    ></i>
                                    </button>
                                </div>
                            </div>
                          </div>
                          <mat-error *ngIf="registrationForm.get('passwordConfirm')?.dirty &&registrationForm.hasError('passwordsNotMatching')">
                              Passwörter stimmen nicht überein!
                          </mat-error>
                          <mat-error *ngIf="registrationForm.get('password')!.hasError('minlength')">
                            &#9830; Das Passwort muss mindestens 8 Zeichen lang sein.
                          </mat-error>
                          <mat-error *ngIf="registrationForm.get('password')!.hasError('pattern')">
                            <br /> &#9830; Das Passwort muss mindestens Folgendes enthalten:
                            <br /> &#9755; ein Großbuchstabe (A-Z)
                            <br /> &#9755; ein Kleinbuchstabe (a-z)
                            <br /> &#9755; einstelliger Buchstabe (0-9)
                            <br /> &#9755; ein Sonderzeichen (!@#$%^&*).
                          </mat-error>

                        <button
                            class="btn btn-outline-warning sign-btn mt-3 mb-3 w-100 d-flex justify-content-center"
                            [disabled]="!registrationForm.invalid"
                            (click)="close_modal($event)">
                            Melden Sie sich an
                        </button>
                        <h4 class="text-white pt-1 mt-3">
                          Sie haben bereits ein Konto ?
                          <a  (click)="showLogin = true; showSignUp = false" class="link link-warning"> Anmeldung </a>
                        </h4>
                    </form>
                </div>
              </div>
            </div>
          </section>

          <!-- End Registration -->
        </div>
      </div>
    </div>
  </div>
</div>
<button
  #open_btn
  data-toggle="modal"
  [attr.data-target]="'#' + modal_name"
  type="button"
  style="display: none"
></button>

