@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'owl.carousel/dist/assets/owl.carousel.css';

.fa-star{
  color: orange;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.9);
  border: 2px solid #1ab394;
  width: fit-content;
  margin: auto;
}

.swal2-cancel{
      margin: 10px;
}
.modal-backdrop{
  opacity: 0.5;
display: none;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body > app-root > div > div > app-cart > div > div > div > div.col-sm-12.col-md-12.col-lg-8.mt-5 > div > div:nth-child(2) > div > pagination-controls > pagination-template > nav > ul
{
    background: rgb(83, 182, 185);
    border-radius: 15px;
    border: 5px solid #106a58;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
}
.ngx-pagination .current{
      background: darkcyan  !important;
      border-radius: 15px;

}
.pagination-next, .pagination-previous{
  color:white !important
}
.pagination-next:hover, .pagination-previous:hover{
  color:black !important
}
.pagination-next.disabled, .pagination-previous.disabled{
  color:black !important
}
.ngx-pagination a{
  color: white !important
}
.ngx-pagination a:hover{
  color: black !important;
  border-radius: 15px;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
